body {
    background-color : #333;
    color : white;
}
#header {
    background-color : #666;
}
#newActivity {
    width : 75%;
    float : left;
}

#study, #meditate, #exercise {
    border : 1px solid white;
}